.bg-image {
  background-image: url('../img/pokeball.png');
  background-repeat: no-repeat;
  background-position: center;
}

.modal-body {
  padding: 0;
  padding-top: 10px;
}

.modal-header {
  padding: 0;
}

.modal-title {
  word-break: break-all;
  margin-top: 10px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.row>* {
  padding-left: 0;
  padding-right: 0;
}